node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvb
*.njsproj
*.sln
*.sw?

vite.config.ts.timestamp-*
vite.config.js.timestamp-*
